<h1>Users#show</h1>


<h3>Name: <%=@user.name%></h3>
<h3>Email: <%=@user.email%></h3>

<h3>New Secret:</h3>
<form action="/secrets/create" method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='text' name="New_Secret" placeholder=""><br>
	<input type="submit" value='Create Secret'>
</form>

<h3>Secrets:</h3>
<% @user.secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p><%= secret.likes.count %> likes</p>
	<form action="/secrets/<%= secret.id %>" id="delete_user" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input name="_method" type="hidden" value="delete" />
		<input type="submit" name="delete" value='Delete'>
	</form>
<% end %>





<a href="/users/<%=@user.id%>/edit">Edit Profile</a>