<a href="/event">Events Dashboard</a>
<!-- <h1>(Event#edit)</h1> -->
<h1>Event Detail</h1>

<h2><%=@event.description%></h2>
<h3>Host: <%=@event.user.first_name%></h3>
<h3>Date: <%=@event.date%></h3>
<h3>Location: <%=@event.location.city%>, <%=@event.location.state%></h3>
<h3>People who are joining the event: <%=@event.joins.count%></h3>

<% for user in @event.users_joined %>
	<p><%=user.first_name%> <%=user.last_name%></p>
<% end %>

<h2>Discussion about this event</h2>
<textarea>
<% for discussion in @event.discussions %>

<%=discussion.user.first_name%> says: <%=discussion.comment%>

--------------------------------------
<% end %>
</textarea>

<h2>Add Comment:</h2>
<form action="/event/<%=@event.id%>" method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="_method" type="hidden" value="patch" /> 
	<textarea id="add_comment" name="comment"></textarea><br>
	<input type="submit" value='Submit Comment'>
</form>


		